

  body{
background-size: cover;
    background-image: url('https://images.pexels.com/photos/7130473/pexels-photo-7130473.jpeg');
  }

h1 {
color: white;
font-style: bold;
font-stretch: semi-expanded;
text-shadow: 2px 2px orange;
font-size: 75 px;
}

h2{
  color: red;
  font-size: 60px;
}
h3{
  color:yellow;
  font-size: 75 px;
  font-style: bold;
font-stretch: semi-expanded;
text-shadow: 2px 2px black;
}

p {
color: white;
font-size: 35;
font-style: bold;
font-stretch: semi-expanded;
text-shadow: 2px 2px purple;

}
a.email-link {
  color: white; /* Change this to the color of your choice */
}
